# Monólito original (não faz parte dos microserviços)
src/

# Artefatos de build locais
.gradle/
build/
**/build/

# Git
.git/
.gitignore
.gitattributes

# IDE
.idea/
*.iml
*.iws

# Documentação e arquivos extras
*.html
*.pdf
*.md

# Docker
Dockerfile
compose.yaml
